'use strict';

var TARGET = process.env.npm_lifecycle_event;
console.log('############# Webpack - ' + TARGET);

switch (TARGET) {
	case 'webpack:serve':
	case 'webpack:serve1':
		module.exports = require('./configs/webpack-dev.config');
		break;
	case 'webpack:test':
	case 'webpack:test-watch':
		module.exports = require('./configs/webpack-test.config');
		break;
	case 'webpack:build':
		module.exports = require('./configs/webpack-common.config');
		break;
	default:
		throw new Error('Not a valid webpack config');
}



