const path = require('path');
const webpack = require('webpack');
const merge = require('webpack-merge');

const webpackCommon = require('./webpack-common.config');

const SRC_PATH = path.join(__dirname, '../src');
const DEST_PATH = path.join(__dirname, '../www');

var config = merge.smart(webpackCommon[0], {

	devtool:'eval-source-map',
	devServer: {
		port: 9001,
		contentBase: DEST_PATH,
		host:'0.0.0.0',
		https: true,
		stats: 'minimal',
		watchOptions: {
			aggregateTimeout: 300,
			poll: 1000
		},
		proxy: {
			'/fxmobile/front/json': {
				target: 'https://qasecurities.mobile.gs.com',
				secure: false
			},
			'/cgi-bin/external/authenticate.cgi': {
				target: 'https://qawebid2.gs.com',
				secure: false
			}
		},
		outputPath: DEST_PATH
	},
	plugins:[
		//new webpack.HotModuleReplacementPlugin()
	]

});

config.entry.app.unshift('webpack-dev-server/client?https://localhost:9001');

module.exports =[config, webpackCommon[1]];

console.log(JSON.stringify(module.exports, null, 3));
